alembic==1.9.1
amqp==2.6.1
aniso8601==9.0.1
anyio==3.6.2
apache-airflow==2.2.0
apache-airflow-providers-amazon==6.0.0
apache-airflow-providers-common-sql==1.3.3
apache-airflow-providers-ftp==3.3.0
apache-airflow-providers-http==2.0.0
apache-airflow-providers-imap==3.1.1
apache-airflow-providers-snowflake==3.2.0
apache-airflow-providers-sqlite==3.3.1
apispec==3.3.2
argcomplete==1.12.3
asn1crypto==1.5.1
asttokens==2.2.1
attrs==20.3.0
autopep8==1.7.0
azure-core==1.26.2
azure-storage-blob==12.12.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.1
billiard==3.6.4.0
blinker==1.5
boto3==1.17.79
botocore==1.20.112
cachelib==0.10.0
cachetools==5.3.0
cattrs==1.5.0
celery==4.4.7
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.1
click==7.1.2
clickclick==20.10.2
colorama==0.4.6
colorlog==4.8.0
comm==0.1.2
commonmark==0.9.1
configparser==5.0.2
ConfigUpdater==3.1.1
connexion==2.14.1
cron-descriptor==1.2.32
croniter==1.0.15
cryptography==38.0.4
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.6
diskcache==5.4.0
distlib==0.3.6
dnspython==2.2.1
docker==6.0.0
docutils==0.16
email-validator==1.3.0
entrypoints==0.4
exceptiongroup==1.1.0
executing==1.2.0
filelock==3.9.0
Flask==1.1.4
Flask-AppBuilder==3.4.5
Flask-Babel==2.0.0
Flask-Caching==1.11.1
Flask-Classful==0.14.2
Flask-Cors==3.0.10
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.3.0
Flask-REST==1.3
Flask-RESTful==0.3.9
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
future==0.18.2
getmac==0.8.2
girder-client==3.1.15
girder-worker==0.8.1
girder-worker-utils==0.8.7
google-api-core==2.11.0
google-auth==2.16.1
google-cloud-bigquery==2.34.0
google-cloud-bigquery-storage==2.16.2
google-cloud-core==2.3.2
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
graphviz==0.20.1
greenlet==2.0.1
grpcio==1.51.1
grpcio-status==1.51.1
gunicorn==20.1.0
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
idna==2.10
importlib-metadata==6.0.0
inflection==0.5.1
install==1.3.5
ipykernel==6.20.0
ipython==8.7.0
iso8601==1.1.0
isodate==0.6.1
itsdangerous==1.1.0
JayDeBeApi==1.2.3
jedi==0.18.2
Jinja2==2.11.3
jmespath==0.10.0
JPype1==1.3.0
jsonpath-ng==1.5.3
jsonpickle==2.2.0
jsonschema==3.2.0
jupyter-client==7.4.8
jupyter-core==5.1.1
kombu==4.6.11
kubernetes==24.2.0
lazy-object-proxy==1.9.0
linkify-it-py==2.0.0
lockfile==0.12.2
log-config==2.0.1
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==1.1.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
msrest==0.7.1
mypy-boto3-appflow==1.26.32
mypy-boto3-rds==1.26.47
mypy-boto3-redshift-data==1.26.30
nest-asyncio==1.5.6
numpy==1.24.2
oauthlib==3.2.2
openapi-schema-validator==0.2.3
openapi-spec-validator==0.4.0
openlineage-airflow==0.20.6
openlineage-integration-common==0.20.6
openlineage-python==0.20.6
openlineage-sql==0.20.6
oscrypto==1.3.0
packaging==23.0
pandas==1.4.1
parso==0.8.3
pathspec==0.9.0
pbr==5.10.0
pendulum==2.1.2
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.5.2
pluggy==1.0.0
ply==3.11
plyvel
prison==0.2.1
prompt-toolkit==3.0.36
proto-plus==1.22.2
protobuf==4.22.0
psutil==5.9.4
psycopg2-binary==2.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycparser==2.21
pycryptodome==3.15.0
pycryptodomex==3.16.0
Pygments==2.14.0
PyJWT==1.7.1
pymongo==4.2.0
pyOpenSSL==22.1.0
pyparsing==3.0.9
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyrsistent==0.19.3
pyspark==3.1.2
python-daemon==2.3.2
python-dateutil==2.8.2
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2022.7
pytzdata==2020.1
PyYAML==6.0
pyzmq==24.0.1
redshift-connector==2.0.909
requests==2.25.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rfc3986==1.5.0
rich==13.0.1
rncryptor==3.3.0
rsa==4.9
s3transfer==0.4.2
schedule==1.1.0
scramp==1.4.4
setproctitle==1.3.2
setuptools-scm==7.0.5
six==1.16.0
sniffio==1.3.0
snowflake-connector-python==2.9.0
snowflake-sqlalchemy==1.3.3
soupsieve==2.3.2.post1
sql-metadata==2.6.0
SQLAlchemy==1.4.17
sqlalchemy-bigquery==1.4.4
SQLAlchemy-JSONField==1.0.1.post0
sqlalchemy-redshift==0.8.12
SQLAlchemy-Utils==0.39.0
sqlparse==0.4.2
stack-data==0.6.2
stevedore==4.0.0
swagger-ui-bundle==0.0.9
tabulate==0.8.10
tenacity==8.1.0
termcolor==2.2.0
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
tornado==6.2
traitlets==5.8.0
typing-extensions==4.4.0
uc-micro-py==1.0.1
unicodecsv==0.14.1
urllib3==1.26.14
vine==1.3.0
virtualenv==20.16.5
watchtower==2.0.1
wcwidth==0.2.5
websocket-client==1.4.0
Werkzeug==1.0.1
wrapt==1.14.1
WTForms==2.3.3
xmltodict==0.13.0
zipp==3.11.0